@using CMBListini.ViewModels;
@model ViewModelL6022_1
@{
    ViewBag.Title = "Listino 6022";
}

<!-- Title -->
<div class="row mb-1">
    <div class="col-md-12">
        <h2 class="font-weight-light pageTitle">@ViewBag.Title</h2>
    </div>
</div>
<hr class="mt-1" />
<style>
    #notification {
        position: fixed;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    #para {
        border: 1px solid black;
        width: 300px;
        height: 100px;
        overflow: scroll;
    }

    #ListingContainer {
        height: 100%;
        width: 100%;
        font-size: 0;
    }

    #ListingBase, #ListingAttachments, #TotalButtons {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        font-size: 12px;
    }

    #ListingBase {
        width: 25%;
    }

    #ListingAttachments {
        width: 50%;
    }

    #TotalButtons {
        width: 25%;
    }
</style>

<div style="text-align: center; z-index:2; background-color:white; position: sticky; top: 0;">
    <div style="font-size: 10px;">Codice di Ordinazione:</div>
    <div id="ArticleCode">
        <h2>-</h2>
    </div>
</div>


@using (Ajax.BeginForm("PriceCalc", "L6022_1", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "ajaxHeaderSubmitHandleSuccessResponse",
    OnFailure = "ajaxHeaderSubmitHandleFailureResponse"
}, new { @id = "L6022_1Form" }))
{
    <div id="ListingContainer">
        <div id="ListingBase">
            @{ Html.RenderPartial("_Base", Model); }
        </div>
        <div id="ListingAttachments">
            @{ Html.RenderPartial("_Attachment", Model); }
            <hr class="mt-1" />
        </div>
        <div id="TotalButtons" style="padding-left: 10px;">
            <div class="form-row">
                <!-- aggiungo bottone e textbox per la verifica del codice-->
                <div class="form-group col-md-12">
                    @Html.TextBoxFor(m => m.Codiceimmesso, new { @class = "form-control", @placeholder = "Inserire il codice e premere invio" })
                    @Html.ValidationMessageFor(m => m.Codiceimmesso, "", new { @class = "text-danger" })
                    <span id="Codiceimmesso-error" class="text-danger d-none">formato del codice non valido (controlla l'esempio)</span>
                    <p>e.g: A3025A0012E[xz]30 (A3: Serie, 025: Alesaggio, A: Stelo, 0012: Corsa, E: Tipo Stelo, [xz]: [ignore], 30: Tipo Fissaggio)</p>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" value="Calcola" form="L6022_1Form" class="btn btn-info btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <button onclick="CreateSendEmail()" class="btn btn-info btn-block">
                        <i class="fas fa-envelope fas-lg"></i>
                    </button>
                </div>
                <div class="form-group col-md-6">
                    <a href="" target="download" onclick="CreateCSV()" class="btn btn-info btn-block">
                        <i class="fas fa-file-csv fas-lg"></i>
                    </a>
                </div>
                <div class="form-group col-md-12">
                    <input type="button" value="Pulisci" onclick="ResetAllFields()" class="btn btn-info btn-block" />
                </div>
            </div>
            <!--Discount-->
            @{ Html.RenderPartial("_Discount", Model); }
            <!--Fine Form-->
            <!-- Error message -->
            <div style="text-align:center">
                <span class="text-danger" id="errorBottom"></span>
            </div>
            <hr class="mt-1" />
            <div id="Listingtotals">
                @{ Html.RenderPartial("_Total", Model); }
            </div>
            <hr class="mt-1" />
        </div>
    </div>
}
<!-- Pulsanti -->

<!-- iframe -->
<iframe name="download" style="position: absolute;width:0;height:0;border:0;"></iframe>


<script>
    function ResetTotals() {
        $("#RollerGrossTotal").html('-');
        $("#AttachmentGrossTotal").html('-');
        $("#GrossTotal").html('-');
        $("#TransducerTotal").html('-');
        $("#FinalTotal").html('-');
        $("#errorBottom").html('');


    }
    function ResetAllFields() {
        $("#SerieID").selectpicker('val', 0);
        $("#AlesaggioID").selectpicker('val', 0);
        $("#SteloID").selectpicker('val', 0);
        $("#TipoSteloID").selectpicker('val', 0);
        $("#CorsaID").val(null);
        $("#TipoFissaggioID").selectpicker('val', 0);
        //opzionali
        $('#Distanziali').val(0);
        $('#SfiatiAriaID').selectpicker('val', 0);
        $('#SensoriInduttiviID').selectpicker('val', 0);
        $('#GuarnizioneID').selectpicker('val', 0);
        $("#FilettaturaSteloID").selectpicker('val', 0);
        $("#MaterialeBoccolaID").selectpicker('val', 0);

        $('#Controflangia').prop("checked", false);
        $('#SteloMonolitico').prop("checked", false);
        $('#SoffiettoStelo').prop("checked", false);
        $('#Drenaggio').prop("checked", false);
        $('#SnodoNonMantenuto').prop("checked", false);
        $('#DadiIncassati').prop("checked", false);
        $('#MaterialeSteloID').selectpicker('val', 0);
        $('#SteloProlungato').val(0);
        $('#AccessoriSteloID').selectpicker('val', 0);
        $('#AccessoriCilindroID').selectpicker('val', 0);
        $('#MinimessID').selectpicker('val', 0);
        $('#VerniciaturaID').selectpicker('val', 0);
        $('#ProtezioneSensore').prop("checked", false);
        $('#ConnettoriTrasduttore').prop("checked", false);
        $('#ProtezioneTrasduttore').prop("checked", false);
        $('#TrasduttoreID').selectpicker('val', 0);
        $('#PiastraCetopID').selectpicker('val', 0);
        $('#OpzioniCilindroID').selectpicker('val', 0);
        $('#MA3GA3').val(0);
        $('#MA3GA4').val(0);
        $('#ExtraPrezzo').val(0);
        $('#ConnessioniOlio').selectpicker('val', 0);
        $('#ConnessioniOlioN').val(0);
        //
        //Aggiunte

        //

        //update total

        $("#RollerGrossTotal").html('-');
        $("#AttachmentGrossTotal").html('-');
        $("#GrossTotal").html('-');
        $("#TransducerTotal").html('-');
        $("#FinalTotal").html('-');
        $("#errorBottom").html('');


        UpdateCode();
    }

    //due funzioni chiamate se success il calcolo o se fallisce

    function ajaxHeaderSubmitHandleSuccessResponse(data) {
        if (data.includes('-')) {
            var ArrayTotal = data.split("-");
            $("#RollerGrossTotal").html(ArrayTotal[0] + ' €');
            $("#AttachmentGrossTotal").html(ArrayTotal[1] + ' €');
            $("#GrossTotal").html(ArrayTotal[2] + ' €');
            $("#TransducerTotal").html(ArrayTotal[3] + ' €');
            $("#FinalTotal").html(ArrayTotal[4] + ' €');
            $("#errorBottom").html('');

            //aggiorno campi nascosti
            $('#FinalTotalHidden').val(ArrayTotal[4]); //TotaleFinale
            $('#CilindroTotalHidden').val(ArrayTotal[0]); //TotaleCilindro
            $('#OpzioniTotalHidden').val(ArrayTotal[1]); //TotaleOpzioni
            $('#TrasduttoreTotalHidden').val(ArrayTotal[3]); //TotaleTrasduttore
            $('#GuarnizioniKitTotalHidden').val(ArrayTotal[2]); //TotaleKitGuarnizioni


            //
        } else {
            $("#errorBottom").html(data);

        }

    }

    function ajaxHeaderSubmitHandleFailureResponse(data, errStatus, errorThrown) {

        $("#errorBottom").html("Errore generico nella richiesta");

    }

    function CreateSendEmail() {
        //var form2 = jQuery('#L6020_2Form').serialize();
        //alert(form2);
        var form = document.getElementById('L6022_1Form');
        var fd = new FormData(form);
        $.ajax(
            {
                dataType: "text",
                type: "POST",
                url: "@Url.Action("CreateSendEmail", "L6022_1")",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                success: function (result) {
                    $('#notification').html('<button type="button" class="close" data-dismiss="alert">x</button>' + result);
                    $("#notification").fadeTo(2000, 500).slideUp(500, function () {
                        $("#notification").slideUp(500);
                    });
                    //$('#notification').toggleClass('hidden');
                    //alert("funzione in fase di implementazione");

                }
            });
    }


    function CreateCSV() {
        //var form2 = jQuery('#L6020_2Form').serialize();
        //alert(form2);
        var form = document.getElementById('L6022_1Form');
        var fd = new FormData(form);
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("ExportCSV", "L6022_1")",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (result) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(result);
                    var code = $("#ArticleCodeHidden").val();
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //Gennaio 0
                    var yyyy = today.getFullYear();

                    today = yyyy + '' + mm + '' + dd;
                    
                    a.href = url;
                    a.download = code + '_' + today + '.csv';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                    //alert("funzione in fase di implementazione");
                }
            });
    }

    

    $(document).ready(function () {
        $("#notification").fadeTo(20, 10).slideUp(10, function () {
            $("#notification").slideUp(10);
        });

        function checkCodeValid(code) {
            var b = /^\w{2}\d{3}[a-zA-Z]\d{4}[a-zA-Z][w-z]{0,2}\d{2}/.test(code);
            if (b) {
                $('#Codiceimmesso-error').addClass("d-none")
            } else {
                $('#Codiceimmesso-error').html("formato del codice non valido (controlla l'esempio)")
                $('#Codiceimmesso-error').removeClass("d-none")
            }
            return b;
        }

        $('#Codiceimmesso').on("keydown", function(e) {
            e.stopPropagation();
            var code = $(this).val();
            if (e.keyCode != 13) {
                return;
            }
            e.preventDefault();
            if (!checkCodeValid(code)) {
                return;
            }
            var data = /^(\w{2})(\d{3})([a-zA-Z])(\d{4})([a-zA-Z])([w-z]{0,2})(\d{2})/.exec(code);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ParseCode", "L6020_2")",
                data: {
                    serie:         data[1],
                    alesaggio:     data[2],
                    stelo:         data[3],
                    corsa:         data[4],
                    tipoStelo:     data[5],
                    tipoFissaggio: data[7]
                },
                dateType: "JSON",
                success: function (result) {
                    result = JSON.parse(result);
                    if (!result.status) {
                        $('#Codiceimmesso-error').html(result.message)
                        $('#Codiceimmesso-error').removeClass("d-none")
                        return;
                    }
                    ["Serie", "Alesaggio", "Stelo", "TipoStelo", "TipoFissaggio"].map((cls) => {
                        $("#" + cls + "ID").html(
                            result[cls + "s"].map((ele) =>
                                [
                                    '<option value="', ele.Value, '" ', (result[cls + "ID"] == ele.Value ? "selected" : ""), '>', 
                                    ele.Text, 
                                    cls == "Alesaggio" ? " mm" : '',
                                    '</option>'
                                ].join('')
                            ).join('')
                        );
                        $("#" + cls + "ID").selectpicker("refresh");
                    });
                    $('#CorsaID').val(result.Corsa);

                    UpdateCode();
                    $('#L6022_1Form').submit();
                }
            });
        });
    });

</script>

<!-- Popup Informativo -->

    <div class="alert alert-info" id="notification">
        
    </div>
